---
import type { ImageMetadata } from "astro";

interface Props {
  description: string;
  title: string;
  imagePath: string;
  hasBackground?: boolean;
  order?: "titleFirst" | "imageFirst";
}

const {
  description,
  imagePath,
  title,
  hasBackground = false,
  order = "titleFirst",
} = Astro.props;
import MyImage from "../MyImage.astro";
---

<div
  class:list={[
    "grid grid-cols-1  sm:grid-cols-2 mt-5 gap-4 rounded-md fade-on-see",
    { "bg-white dark:bg-slate-800": hasBackground },
  ]}
>
  <div
    class:list={[
      "relative flex justify-center items-center order-1 banner-img",
      { "sm:order-1": order == "titleFirst" },
      { "sm:order-2": order == "imageFirst" },
    ]}
  >
    <div class="w-full">
      <div class="flex flex-col gap-2 items-center justify-center w-full">
        <h1 class="tracking-tight inline font-semibold text-4xl lg:text-6xl">
          {title}
        </h1>
        <p
          class="w-full md:w-[70%] my-2 text-lg lg:text-xl font-normal text-default-500 block max-w-full"
        >
          {description}
        </p>
      </div>
    </div>
  </div>

  <div
    class:list={[
      "flex flex-col justify-center gap-6 order-2",
      { "sm:order-2": order == "titleFirst" },
      { "sm:order-1": order == "imageFirst" },
    ]}
  >
    <div
      class="flex relative w-full rounded-2xl items-center justify-center h-full min-h-[320px] py-12 px-8"
    >
      <MyImage
        class="object-cover h-full w-full rounded-lg"
        src={imagePath}
        alt={imagePath}
        height={100}
        type="other"
        width={100}
      />
    </div>
  </div>
</div>
