<footer
  class="mx-auto flex w-full max-w-7xl flex-col justify-center border-t-1 border-white/5 px-4 pb-8 pt-16 md:px-12 lg:mt-12 lg:px-8"
>
  <div class="xl:grid xl:grid-cols-2 xl:gap-8">
    <div class="space-y-8 md:pr-8">
      <div class="items-center justify-start" style="display: grid;">
        
        <h3 class="text-small font-semibold text-default-600 ">          Our Associates
        </h3>

        
        <ul
        class="mt-4 space-y-3 sm:mt-6 md:space-y-4"
      >
        <!-- <h6
       class="tracking-tight inline font-semibold bg-heading-highlight text-4xl bg-clip-text text-transparent"
     >
     Our Partner
    </h6> -->
    <a
    role="link"
    title=" Kaizen Business Solutions"
    href="https://kaizenbusinesssolutions.com.au/"
    rel="noopener noreferrer"
    target="_blank"
  >
 
        <img
        
          src="https://kaizenbusinesssolutions.com.au/wp-content/uploads/2024/04/Kaizen-.png"
          loading="lazy"
          decoding="async"
          alt="Image"
          class="h-16 rounded-lg hover:opacity-90 hover:scale-110 transition-transform"
        />
        </a>
      </div>
      <div class="flex items-center justify-start">
        <h1
          class="tracking-tight inline dark:text-white font-semibold text-3xl bg-clip-text text-transparent"
        >
          ALGOBRAIN <span
            class="inline font-semibold from-[#06B7DB] to-[#006FEE] bg-clip-text text-transparent bg-gradient-to-b"
            >AI</span
          >
        </h1>
      </div>
      <div class="flex space-x-6">
        <a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
          role="link"
          title="LinkedIn"
          href="https://www.linkedin.com/company/algobrainai"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"/>
          </svg>
        </a>
        <a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
          role="link"
          title="Medium"
          href="https://medium.com/@algobrainai"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M13.54 12a6.8 6.8 0 01-6.77 6.82A6.8 6.8 0 010 12a6.8 6.8 0 016.77-6.82A6.8 6.8 0 0113.54 12zM20.96 12c0 3.54-1.51 6.42-3.38 6.42-1.87 0-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42 3.38 2.88 3.38 6.42M24 12c0 3.17-.53 5.75-1.19 5.75-.66 0-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75C23.47 6.25 24 8.83 24 12z"/>
          </svg>
        </a>
        <a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
          role="link"
          title="Instagram"
          href="https://www.instagram.com/algobrainai/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/>
          </svg>
        </a>
        <a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
          role="link"
          title="X (Twitter)"
          href="https://x.com/algobrain_ai"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/>
          </svg>
        </a>
        <a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
          role="link"
          title="YouTube"
          href="https://www.youtube.com/@ALGOBRAIN-AI"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
          </svg>
        </a>
        <a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
          role="link"
          title="Facebook"
          href="https://www.facebook.com/ALGOBRAIN/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
          </svg>
        </a>
      </div>
    </div><div class="mt-16 lg:w-auto lg:text-right xl:mt-0">
      <div>
        <div>
          <h3 class="text-small font-semibold text-default-600">Contact</h3><ul
            class="mt-4 space-y-3 sm:mt-6 md:space-y-4"
          >
            <li>
              <a
                class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
                role="link"
                href="https://maps.app.goo.gl/NkRHRmtYnBxxdJVb7"
                title="Address"
                target="_blank"
                >321, Exult Shoppers, Vesu Main Road, Vesu, Surat (395007)</a
              >
            </li>
            <li>
              <a
                class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
                role="link"
                href="mailto:contact@algobrainai.com"
                title="Email"
                target="_blank">contact@algobrainai.com</a
              >
            </li>
            <li>
              <a
                class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-small no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-default-400"
                role="link"
                href="https://wa.me/9313192028"
                title="Contact Number"
                target="_blank">+91 9313192028</a
              >
            </li>
            <li>
              <p class="relative inline-flex items-center tap-highlight-transparent   transition-opacity text-default-400"
              >
                © 2024 . All Rights Reserved By ALGOBRAIN AI.

              </p>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
