---
interface Props {
  website: string;
  phone: string;
  email: string;
}

const { website, phone, email } = Astro.props;
---

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href={website} class="flex items-center">
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-8 me-3"
            alt="FlowBite Logo"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >AlgoBrainAi</span
          >
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Phone
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >{phone}</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Email
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li>
              <a href="https://discord.gg/4eeurUVvTy" class="hover:underline"
                >{email}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
